*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
body{
    background-color: #eee;
}
/* nav */
nav.navbar{
    margin-bottom: 100px;
}
@media(min-width:992px){
    .container{
    position: relative;
    }
    li.dropdown{
        position: absolute;
        right: 0;
    }
    li.dropdown ul.dropdown-menu{
        left: -80px;
    }
}
.navbar-dark .navbar-nav .nav-link{
    color: #fff;
}
.navbar-dark .navbar-brand{
    color: #000;
    margin-right: 100px;
}
h2.title{
    width: fit-content;
    margin: 0 auto 30px;
    position: relative;
}
@media(min-width:992px){
    h2.title{
        left: 20px;
    } 
}
form.add{
    display: none;
}
form.add-appear{
    display: block;
}

table.table-hide{
    display: none;
}

.stats .content h4{
    font-size: 15px;
}
.content{
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #fff;
}
.stats span{
    font-size: 40px;
}

.latest{
    margin-top: 50px;
}
.card .other span{
    padding: 10px;
    color: #fff;
}
.card .other span:first-child{
    background-color: #e74c3c;
}
.card .other span:nth-child(2){
    background-color: #34495e;
}
.card .other span:last-child{
    background-color: #f39c12;
}
.category-manage{
    max-height: 450px;
    overflow: auto;
}

.category{
    position: relative;
}
.btns{
    position: absolute;
    right: 10px;
    top: 20px;
}

.form-category-hidden{
    display: none;
}
.categories-hidden{
    display: none;
}